/*Start of css*/



* {
    cursor: url(https://cur.cursors-4u.net/anime/ani-11/ani1073.cur), auto !important;
}



body {
    background-image: url('http://dl5.glitter-graphics.net/pub/534/534755h92efycwnw.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 40px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text1,
.text2,
.text3,
.text1-1,
.text2-1,
.dot {
    background: #FF46A2;
    border: 3px solid hotpink;
    box-shadow: 0 0 15px #fff, 0 0 25px #ff00ff, inset 0 0 10px #fff;
    color: black;
    text-align: center;
    padding: 20px;
    text-shadow: 1px 1px 2px #fff;
}

.dot {
    position: absolute;
    bottom: 250px;
    right: -150px;
    height: 300px;
    width: 300px;
    background-color: #FF46A2;
    border-radius: 300px;
    position: relative;
}

.text1 {
    position: absolute;
    left: 60px;
    height: 125px;
    width: 275px;
    position: relative;
}

.text2 {
    height: 150px;
    width: 400px;
}

.text3 {
    height: 300px;
    width: 400px;
}

.text1-1,
.text2-1 {
    height: 321px;
    width: 321px;

}


.menu-btn:hover {
    background: linear-gradient(90deg, #FF46A2, #ffccff);
    transform: scale(1.03);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/* Menu Button */
.menu-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #e9eef3;
    box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.8);
}

.menu-icon {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 3px 0;
    border-radius: 2px;
}