/* Start of CSS*/

body {
    background-color: hotpink;
    overflow-y: hidden;
    overflow-x: hidden;
}


/*PAPERS IN THE BACKGROUND*/
.paperImages {
    position: relative;

}

.paper {
    position: relative;
    height: 870px;
    margin-top: -40px;
}

.paperTop {
    position: absolute;
    width: 1450px;
    height: 500px;
    margin-left: -10px;
    margin-top: -150px;
}

/*HATSUNE MIKU BOT*/
.bot {
    height: 75%;
    width: 75%px;
    position: absolute;
    margin-top: 165px;
    margin-left: 0px;
}

/*Position*/
.chat-wrapper {
    position: relative;
    top: -450px;
    left: 1100px;
    transform: translateY(-50%);
    width: 250px;
}

.chat-wrapper a {
    color: black;
}

.miku-chat-bubble {
    background: #ffffff;
    border-radius: 15px;
    padding: 12px 18px;
    font-size: 16px;
    color: #333;
    font-family: "Arial", sans-serif;
    position: relative;
    border: 2px solid rgb(49,
            230,
            240);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

/*outline*/
.miku-chat-bubble::before {
    content: "";
    position: absolute;
    left: -18px;
    top: 20px;
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-right: 18px solid rgb(49,
            230,
            240);
}

/*TEXT ON TOP OF PAPER.PNG IMAGE*/
.paperWrapper {
    position: relative;
    display: inline-block;
}

.paper {
    width: 100%;
    display: block;
}

.paperText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-family: "Swanky and Moo Moo", cursive;
    font-size: 15px;
    text-align: center;
    width: 80%;
    text-align: justify;
    margin-top: 15px;
    margin-left: 95px;
    left: 265px;
    line-height: 30px;
}