/*Start of css*/

* {
    cursor: url(assets/image/sailormoon_cursor.png), auto !important;
}

body {
    background-image: url('http://dl5.glitter-graphics.net/pub/534/534755h92efycwnw.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 40px;
    /* cursor: url(assets/images/sailormoon_cursor.png), uto !important; */
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.left,
.middle,
.right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text1,
.text2,
.text3,
.text1-1,
.text2-1,
.dot {
    background: #FF46A2;
    border: 3px solid hotpink;
    box-shadow: 0 0 15px #fff, 0 0 25px #ff00ff, inset 0 0 10px #fff;
    color: black;
    text-align: center;
    padding: 20px;
    text-shadow: 1px 1px 2px #fff;
}

.text1 {
    position: absolute;
    left: 60px;
    height: 125px;
    width: 275px;
    position: relative;
}

.text2 {
    height: 130px;
    width: 400px;
}

.text3 {
    height: 324px;
    width: 400px;
}

.text1-1,
.text2-1 {
    height: 321px;
    width: 321px;
}

.menu-btn:hover {
    background: linear-gradient(90deg, #FF46A2, #ffccff);
    transform: scale(1.03);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/* Menu Button */
.menu-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: CENTER;
    align-items: CENTER;
    cursor: pointer;
    background: #e9eef3;
    box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.8);
}

.menu-icon {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 3px 0;
    border-radius: 2px;
}


/* Disc Player */
.dot {
    position: absolute;
    background: url(assets/images/disc.png);
    background-repeat: none;
    background-size: cover;
    bottom: 250px;
    right: -150px;
    height: 400px;
    width: 400px;
    /* background-color: transparent; */
    border-radius: 300px;
    position: relative;
}

.paper {
    background: #FF46A2;
    color: black;
    text-align: center;
    padding: 20px;
    text-shadow: 1px 1px 2px #fff;
    position: absolute;
    background: url(assets/images/linedpaper.png);
    background-repeat: none;
    background-size: cover;
    background-color: transparent;
    top: 250px;
    left: 915px;
    height: 375px;
    width: 475px;
}

#index {
    --padding: 25px;
    width: 500px;
    height: 500px;
    /* box-sizing: border-box; */
    margin-left: -125px;
    /* box-shadow:
        -8px 8px var(--black),
        16px 16px 64px -32px #cfe7f5; */
    border-radius: 50%;
    flex-shrink: 0;
    position: relative;
    contain: size;

    ul,
    li {
        display: contents
    }
}

#index a {
    width: calc(50% - 32px);
    box-sizing: border-box;
    padding-inline: 77px 25px;
    transform-origin: -32px;
    translate: 0 -50%;
    position: absolute;
    /* left: calc(50% + 32px);
    top: 50%; */
    bottom: -265px;
    right: 240px;

}


#index a {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-block: 0.125em;
    overflow: hidden;
    transition: background-color 0.5s;

    &:hover {
        background-color: hotpink;
        box-shadow: 0 0 4px rgb(247, 51, 149);
        transition: background-color 0.125s;
    }
}

.scroll-hidden {
    display: none !important;
}