/*Start of css*/

* {
    cursor: crosshair;
}

body {
    background-image: url('http://dl5.glitter-graphics.net/pub/534/534755h92efycwnw.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 40px;
    overflow-x: hidden;
    overflow-y: hidden;
    /* cursor: url(assets/images/sailormoon_cursor.png), uto !important; */
}

.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-right: 450px;
}

.left,
.middle,
.right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text1,
.text2,
.text3,
.text1-1,
.text2-1,
.dot {
    font-family: Verdana,
        arial,
        sans-serif;
    background: #FF46A2;
    border: 3px solid hotpink;
    box-shadow: 0 0 15px #fff, 0 0 25px #ff00ff, inset 0 0 10px #fff;
    color: black;
    text-align: center;
    padding: 20px;
    text-shadow: 1px 1px 2px #fff;
}

.text1 {
    position: absolute;
    left: 60px;
    height: 125px;
    width: 275px;
    position: relative;
}

.text1 p {

    margin-bottom: -10px;
}

.text2 {
    height: 130px;
    width: 400px;
}

.text2 p {

    margin-top: 10px;
    text-align: justify;
}

.text3 {
    height: 324px;
    width: 400px;
}

.text3 h2 {
    margin-top: -5px;
}

.text3 p {
    margin-top: -30px;
    text-align: justify;
}

.text1-1,
.text2-1 {
    height: 321px;
    width: 321px;
    text-align: justify;
}

.text1-1 p {
    text-align: center;
}

.text1-1 a {
    text-align: center;
    color: black;
}



.text2-1 {
    background: url(assets/images/cdCase.webp);
    background-size: 120%;
    background-position-x: -1cm;
    background-position-y: -1cm;
    background-repeat: none;
}

/* .menu-btn:hover {
    background: linear-gradient(90deg, #FF46A2, #ffccff);
    transform: scale(1.03);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
} */

/* Menu Button */
/* .menu-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: CENTER;
    align-items: CENTER;
    cursor: pointer;
    background: #e9eef3;
    box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.8);
} */

/* .menu-icon {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 3px 0;
    border-radius: 2px;
} */


/* Disc Player */
.dot {
    position: absolute;
    background: url(assets/images/disc.png);
    background-repeat: none;
    background-size: cover;
    bottom: 250px;
    right: -150px;
    height: 400px;
    width: 400px;
    /* background-color: transparent; */
    border-radius: 300px;
    position: relative;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.dot.playing {
    animation: spin 3s linear infinite;
}

/*Note*/
.paper {
    background: #FF46A2;
    color: black;
    line-height: 1.4;
    padding: 20px;
    overflow: visible;
    text-align: center;
    padding: 20px;
    text-shadow: 1px 1px 2px #fff;
    position: absolute;
    background: url(assets/images/linedpaper.png);
    background-repeat: none;
    background-size: cover;
    /* background-color: transparent; */
    top: 250px;
    left: 890px;
    height: 375px;
    width: 475px;
}

.paper p {
    color: hotpink;
    font-family: "Swanky and Moo Moo", cursive;
    font-size: 16px;
}


/*Vinyl collection*/
#vinyl-collection {
    /* all: initial !important; */
    width: 100% !important;
    height: 230px !important;
    margin-top: -1200px;
    right: -880px;
    display: flex !important;
    flex-direction: row !important;
    position: relative !important;
    margin-left: -6px !important;
}

#vinyl-collection .vinyl {
    /* all: unset !important; */
    perspective: 500px !important;
    width: 18px !important;
    transition: width 0.5s !important;
    position: relative;
    cursor: pointer;
}

#vinyl-collection .vinyl:hover {
    width: 148px !important;
}

#vinyl-collection .vinyl a {
    display: block;
    text-decoration: none;
}

#vinyl-collection img {
    /* all: unset !important; */
    transition: transform 0.5s, width 0.5s, height 0.5s, margin-top 0.5s !important;
    width: 180px !important;
    height: 180px !important;
    transform: rotateX(0deg) rotateY(25deg) !important;
    transform-style: preserve-3d !important;
    border-radius: 4px !important;
    border: 2px solid rgba(0, 0, 0, 0.1) !important;
    object-fit: cover !important;
    display: block;
}

#vinyl-collection .vinyl:hover img {
    transform: rotateX(0deg) rotateY(10deg) !important;
    width: 188px !important;
    height: 188px !important;
    margin-top: -2px !important;
    cursor: pointer;
}

#vinyl-collection .title {
    color: hotpink;
    /* display: block; */
    /* visibility: hidden; */
    position: absolute;
    bottom: -20px;
    text-align: center;
    width: 100%;
    left: 0;
    /* padding-left: 6px; */
    opacity: 0;
    transition: opacity 0.3 ease;
    z-index: 20;
    pointer-events: none;
}

#vinyl-collection .vinyl:hover .title {
    opacity: 1;
}