/* Start of CSS*/

body {
    background-color: hotpink;
}

.paperImages {
    position: relative;
    top: 0;
    left: 0;
}

.paper {
    position: relative;
    height: 870px;
    margin-top: -50px;
}

.paperCut {
    position: absolute;
    margin-top: 250px;
    margin-left: -250px;
    transform: rotate(15deg);
}