* {
    cursor: url(assets/images/sailormoon_cursor.png), auto !important;
}

body {
    background: url(assets/images/pinkblack.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}

.comic-grid {
    width: 700px;
    height: 500px;
}

.panel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
    gap: 10px;
    width: 100%;
    height: 100%;
    position: relative;
}

.panel>div {
    border: 2px solid #ff8ac7;
    background: radial-gradient(circle at center, #ffcce7, #ff8ac7);
    transition: all 0.2s ease-in-out;
}

.panel>div:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.left {
    grid-column: 1;
    grid-row: 1 / span 2;
    clip-path: polygon(0 0, 100% 5%, 90% 100%, 0% 100%);
}


.middle-top {
    grid-column: 2;
    grid-row: 1;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}

.middle-botton {
    grid-column: 2;
    grid-row: 2;
    clip-path: polygon(0 0, 100% 10%, 90% 100%, 0 90%);
}

.right {
    grid-column: 3;
    grid-row: 1 / span 2;
    clip-path: polygon(10% 0, 100% 10%, 100% 100%, 0 90%);
}

/* Menu Button */
/* .menu-btn:hover {
    background: linear-gradient(90deg, #FF46A2, #ffccff);
    transform: scale(1.03);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.menu-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #e9eef3;
    box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.8);
}

.menu-icon {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 3px 0;
    border-radius: 2px;
} */

/* Playlist*/
.player {
    position: fixed;
    width: 360px;
    background: hotpink;
    padding: 20px;
    top: 40px;
    left: 30px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.header img.logo {
    width: 110px;
    margin-left: auto;
}

.track-section {
    display: flex;
    margin-bottom: 10px;
}

.track-section img.album-art {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border: 1px solid black;
}

.track-info {
    font-size: 14px;
}

.controls {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.controls button {
    margin: 0 5px;
    padding: 6px 10px;
    border: 1px solid #888;
    background: #fff;
    cursor: pointer;
}

/*PINK PLAYLIST*/
.playlist {
    background: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
}

.playlist h3 {
    font-size: 15px;
    margin-bottom: 10px;
}

.song {
    display: flex;
    margin-bottom: 10px;
}

.song img.cover {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border: 1px solid #aaa;
}

.song-details {
    flex: 1;
    font-size: 14px;
}