/*Start of CSS*/
div.scroll-box {
    height: 150px;
    width: 280px;
    font: 10pt/20pt Verdana, arial, sans-serif;
    overflow: scroll;
}

* {
    cursor: crosshair;
}

body {
    background-image: url(assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana,
        arial,
        sans-serif;
    /* 'Press Start 2P',
            cursive; */
    color: black;
    margin: 0;
    padding: 40px;
}

body::after {
    content: "";
    position: absolute;
    left: 105px;
    bottom: -135px;
    width: 300px;
    height: 300px;
    background-image: url('assets/images/hatsunemiku_idle.gif');
    background-size: contain;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left .phone,
.left .scroll-box {
    display: inline-block;
    vertical-align: top;
}

.left .phone+.scroll-box {
    margin-left: 220px;
    margin-top: -214px;
}

.phone,
.box,
.text1,
.music,
.top-text,
.middle-text,
.main-text,
.scroll-box {
    background: #ff69b4;
    border: 3px solid hotpink;
    box-shadow: 0 0 15px #fff, 0 0 25px #ff00ff, inset 0 0 10px #fff;
    color: black;
    text-align: center;
    padding: 20px;
    text-shadow: 1px 1px 2px #fff;
    border-radius: 10px;
}

.phone {
    background: url(assets/images/mp3.jpg);
    background-size: cover;
    height: 150px;
    width: 150px;
}


.box {
    height: 133px;
    width: 500px;
    text-align: justify;
}

.text1 {
    position: absolute;
    left: 210px;
    bottom: 0px;
    height: 133px;
    width: 290px;
    position: relative;
}

.text1 a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    line-height: 25px;
}

.music {
    background: url(assets/images/music2.gif);
    height: 205px;
    width: 500px;
}

.top-text {
    height: 60px;
    color: hotpink;
    text-align: center;
    -webkit-animation: glow 10s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 20px black,
            0 0 30px black,
            0 0 40px #e60073,
            0 0 50px #e60073,
            0 0 60px #e60073,
            0 0 70px #e60073,
            0 0 80px #e60073;
    }

    to {
        text-shadow: 0 0 30px black,
            0 0 40px #ff4da6,
            0 0 50px #ff4da6,
            0 0 60px #ff4da6,
            0 0 70px #ff4da6,
            0 0 80px #ff4da6,
            0 0 90px #ff4da6;
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px black,
            0 0 20px black,
            0 0 30px #e60073,
            0 0 40px #e60073,
            0 0 50px #e60073,
            0 0 60px #e60073,
            0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px black,
            0 0 30px #ff4da6,
            0 0 40px #ff4da6,
            0 0 50px #ff4da6,
            0 0 60px #ff4da6,
            0 0 70px #ff4da6,
            0 0 80px #ff4da6;
    }
}


.middle-text {
    height: 60px;
    width: 500px;
}

.main-text {
    background: url(assets/images/maint.jpg);
    background-repeat: no-repeat;
    background-size: 550px 619px;
    height: 570px;
    width: 500px;
}


.phone:hover {
    background: linear-gradient(90deg, #FF46A2, #ffccff);
    transform: scale(1.03);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}